<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{% block title %}The Matthew6 Project{% endblock %}</title>
    <script src="{{ asset('bundles/m6main/js/vendor/custom.modernizr.js') }}"></script>
    {% block stylesheets %}
        {% stylesheets filter="compass,cssrewrite"
            "@M6MainBundle/Resources/public/scss/master.scss"
            output="css/compiled/styles.css"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" media="screen" />
        {% endstylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/m6main/css/custom_fonts.css') }}" />
    {% endblock stylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body style="background-color: #435c68; color: #efefef;">
    {% block header %}
        <div class="row" style="padding: 20px 0 40px 0;">
            <div class="large-6 columns">
                <span style="font-family: josefin_sans_stdlight, sans-serif, serif; font-size: 48px;">the matthew</span>
                <span style="font-family: josefin_sans_stdlight, sans-serif, serif; font-size: 48px; color: #ff4e19;">6</span>&nbsp;&nbsp;
                <span style="font-family: josefin_sans_stdlight, sans-serif, serif; font-size: 48px;">project</span>
            </div>
            <div class="large-3 large-offset-3 columns">
                <div style="float: right;">
                    {#<span style="font-size: 16px; vertical-align: bottom; padding-right: 10px;">my account</span>#}
                    {#<img src="http://gravatar.com/avatar/ecb566c47c401bb8699580d2f9c220d1?s=50" />#}
                </div>
            </div>
        </div>
    {% endblock header %}

    {% block body %}

    {% endblock %}

    {% block javascripts %}
        {# zepto does NOT support IE, if we want IE support load jquery.js instead of zepto.js #}
        {% javascripts
            '@M6MainBundle/Resources/public/js/vendor/zepto.js'
            '@M6MainBundle/Resources/public/js/foundation/foundation.js'
            output='js/compiled/main.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script>
            $(document).foundation( function(response) {
                console.log(response.errors);
            });
        </script>
    {% endblock javascripts %}
</body>
